/*all <h3> elements. */
h3{
	font-size: 130%;
}
#example1 {
  border-radius: 25px;
  border: 2px solid red;
}
#example1 {
	font-size: 130%;
}
#example1{
	width: 20%;
}
#example2 {
	border-radius: 25px;
}
#example2 {
	font-size:130%
}
#example2 {
	width: 20%;
}
